body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    background: #f0f0f0; 
    background:black;
    background: #ffffff;
    padding-top: 5rem;
}
div {
    width: 600px;
    height: 600px;
    margin: 1rem;
    border-radius: 40px;

}

.cloudy-card {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1); /* Box shadow for the card */
}
h1 {
    font-family: Arial, sans-serif;
    color: #333;
}


.clay-card {
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1), 0px 20px 60px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 20px 40px rgb(240, 240, 240), 0px 20px 60px rgb(240, 240, 240);
    /* Box shadow for the card, giving it a claymorphic appearance */

    box-shadow:
        0px 10px 20px rgba(240, 240, 240, 0.1), /* Top shadow */
        0px -10px 20px rgba(240, 240, 240, 0.1), /* Bottom shadow */
        10px 0px 20px rgba(240, 240, 240, 0.1), /* Right shadow */
        -10px 0px 20px rgba(240, 240, 240, 0.1); /* Left shadow */



        box-shadow:
        0px 10px 20px rgba(240, 240, 240, 0.8), /* Top shadow */
        0px -10px 20px rgba(240, 240, 240, 0.8), /* Bottom shadow */
        10px 0px 20px rgba(240, 240, 240, 0.8), /* Right shadow */
        -10px 0px 20px rgba(240, 240, 240, 0.8); /* Left shadow */



        box-shadow:
        0px 10px 10px rgba(0, 0, 0, 0.1), /* Top shadow */
        0px -10px -2px rgba(0, 0, 0, 0.1), /* Bottom shadow */
        0px 10px 4px rgba(0, 0, 0, 0.1), /* Right shadow */
        -2px 10px 4px rgba(0, 0, 0, 0.1); /* Left shadow */
}




    .wrapper {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1;
    }
   
   
    .inputWrapper input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #b5d4ff;
    color: #576d95;
    outline-color: #236eb9;
    }
    .submitButton {
    border: none;
    padding: 12px 30px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #5fc7ff 50%, #43a8ff 100%);
    background-size: 200% 100%;
    background-position: 100% 100%;
    transition: background-position 256ms;
    will-change: background-position;
    cursor: pointer;
    }
    .submitButton:hover {
    background-position: 0% 200%;
    }
    .link {
    font-size: 16px;
    margin: 50px 0 0 0;
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 50px;
    text-align: center;
    color: #576d95;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1;
    }



    
.card {
    display: flex;
    padding: 2rem;
    max-width: 30%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,248,248);
    border-radius: 20px;
    aspect-ratio: 4 / 5;
  }
  
  .card.neumorphism {
    box-shadow: -20px -20px 60px rgba(0,0,0,0.35) inset,
      10px 10px 20px rgba(0,0,0,0.25);
  }
  
  .card.glassmorphism {
    background-color: rgba(248,248,248,0.05);
    -webkit-backdrop-filter: blur(2px) saturate(50%);
    backdrop-filter: blur(2px) saturate(50%);
    box-shadow: 4px 4px 16px rgba(255,255,255,0.2) inset,
      -1px -1px 0 rgba(0,0,0,0.2) inset,
      0 0 1px 0.25px rgba(255,255,255,0.5) inset,
      12px 12px 48px rgba(0,0,0,0.5);
  }
  
  .card.claymorphism {
    box-shadow: 12px 8px 16px rgba(0,0,0,0.2) inset,
      -12px -8px 26px rgba(0,0,0,0.4) inset,
      0 0 2px 0 rgba(0,0,0,0.5) inset,
      12px 12px 48px rgba(0,0,0,0.5);
  }
  
  .card > span {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    line-height: 300%;
    text-align: center;
    text-transform: lowercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  
.card2 {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 25px 25px 50px rgba(9,148,255,0.25),
    -10px -10px 30px rgba(9,148,255,0.1),
    inset -5px -5px 15px rgba(9,148,255,0.5);
}
.img-box {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
} 
.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    width: 100%;
    padding: 30px 20px;
    display: grid;
    place-items: center;
}
.content h3 {
    color: #0994ff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content h3 span {
    font-size: 0.8em;
    font-weight: 500;
    color: #333;
}
.content .sci {
    position: relative;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.content .sci li {
    list-style: none;
}
.content .sci li a {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 8px;
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: #fff;
    color: #0994ff;
    font-size: 1.15em;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(9,148,255,0.25),
    -2px -2px 5px rgba(9,148,255,0.05),
    inset -2px -2px 5px rgba(9,148,255,0.25);
}



  span {
    font-weight: 600;
  }
  
  .container {
    width: 80%;
    max-width: 741px;
    padding: 5rem;
    margin: 0;
    background:#ffffff;
    box-shadow: 24px 24px 48px rgba(174, 210, 236, 0.4),
      inset 12px 12px 24px #e7f2f9, inset -24px -24px 48px #b8d8ee;
    border-radius: 9.375rem;
    text-align: center;
  }
  
 



  
input[type=text] {
    width: 80%;
    height: 60px;
    font-size: 15px;
    padding: 20px 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #636e72;
  }
  
  .main{
    height:100vh;
    width:100%;
    padding : 20px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
  background: #3CA55C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .var1{
    width: 250px;
    padding:10px;
    height: 250px;
    background:#fff;
    border-radius: 25% ;
    box-shadow: 20px 20px 16px 5px rgba(0, 21, 16,0.2), inset 12px 8px 16px 5px rgba(60, 165, 92,0.2), inset -12px -8px 16px 5px rgba(60, 165, 92,0.4);
    
  }
  
  .var2{
    width: 400px;
    padding:50px 10px;
  /*   height: 100%; */
    background:#fff;
    border-radius: 15% ;
    box-shadow: 20px 20px 16px 5px rgba(0, 21, 16,0.2), inset 15px 10px 20px 10px rgba(60, 165, 92,0.2), inset -15px -10px 20px 10px rgba(60, 165, 92,0.4);
    
  }
  
  .feature{
    font-weight:500;
    font-size: 20px;
  }
  
  .box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  
  .icon{
    width: 90px;
  }
  
  button{
    font-size : 20px;
    background-color:#0be881;
    width:80%;
    border:none;
    padding: 20px 5px;
    margin: 15px 0;
    color:#fff;
    border-radius: 10px;
    box-shadow: 10px 10px 18px 3px rgba(0, 21, 16,0.2), inset 10px 8px 20px 10px rgba(60, 165, 92,0.2), inset -10px -8px 20px 10px rgba(60, 165, 92,0.4);
    
  }
  



  
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 2em;
  }
  
  .card23 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 550px;
    min-height: 350px;
    padding: 50px;
    border-radius: 50px;
  
    background-color: hsl(120deg 20% 95%);
    box-shadow: 
      -34px 34px 68px hsl(120deg 10% 50%), 
      inset 8px -8px 16px hsl(120deg 20% 50% / 70%), 
      inset 0px 14px 28px hsl(120deg 20% 95%);
  }
  
  .card-footer1 {
    font-size: .75em;
    color: hsl(120deg 5% 50%);
  }
  

  .card11 {
    width: 400px;
    padding: 50px;
    border-radius: 30px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42);
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
  }
  .card-title11 {
    font-size: 32px;
    margin: 0  0 8px 0;
    line-height: 1.3;
  }
  .card-text11 {
    font-size: 20px;
    margin: 0;
    line-height: 1.3;
  }


  .card22 {
    width: 400px;
    padding: 50px;
    border-radius: 30px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42);
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
    backdrop-filter: blur(15px);
  background: rgba(255,255,255, 0.4);
  box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
  }
  .card-title22 {
    font-size: 32px;
    margin: 0  0 8px 0;
    line-height: 1.3;
  }
  .card-text22 {
    font-size: 20px;
    margin: 0;
    line-height: 1.3;
  }
  
 

 .button-t1{ display: flex;
align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 55px;
  min-width: 250px;
  color: var(--white);
  outline: none;
  background: linear-gradient(0deg,#22d738,#a8f148);
  border-radius: 8px;
  box-shadow: 0 11px 26px #a5ebf1;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: .513333px;
  text-shadow: 0 2px 5px #3ccd1e;
  transition: all 256ms ease-in-out;}




  .clock{
    height: 320px;
    width: 320px;
    background-color: rgba(255,255,255,0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 50%;
      position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
            box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
    border: 2px solid rgba(255,255,255,0.1);
}

.card33 {
    height: 260px;
    width: 420px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    }



  /* Background circles end */
  

  
  .card4 {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
 