/* Styles for the chips container */
.chips-wrapper {
    align-items: center;
    justify-content: center;
    padding:0.75rem 1rem;
    padding-left: 2rem;
    width: 100vw;
    border-bottom-right-radius: 1.25rem;
    backdrop-filter: 40x;
  }
  
  .chips-container {
    gap: 0.75rem;
    width: 90%;
  }
  
  .chip {
    /* background-color: #ffffff; */
    background-color: rgba(0, 0, 0);

    border:1px solid white;
    
    /* color:#000000; */
    color:#ffffff;

    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chip:hover {
    background-color: #ffffff;
    /* background-color: rgba(0, 0, 0); */

    color:#000000;
    /* color:#ffffff; */
    /* border:1px solid white; */

  }
  
  /* Styles for the filter trigger */
  .filter-container-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  
  .trigger-text {
    color:#ffffff;
    font-weight: 550;
    font-size: 1.5rem;
    flex-grow: 1; 
    text-align: center;
  }
  
  /* Styles for the filter icon */
  .filter-container-trigger i {
    font-size: 1.5rem;
    flex-grow: 1; 
    color:#ffffff;
  }

  
  /* Styles for the filter container */
  .filter-container {
    display: none;
    position: absolute;
    top: 6rem;
    left: 25%;
    margin: 0 auto;
    background-color: #000000a2;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    z-index: 100;
    width:40%;
    color:#fff;
  }
  
  .filter-cancel {
    position: absolute;
    top: -0.35rem;
    right: 0.25rem;
    font-size: 1.35rem;
    font-weight: 400;
    background-color:transparent;
    border-radius:0.25rem;
    padding: 0.25rem 0.5rem;
    border: none;
    cursor: pointer;
    margin: 1rem;
    color:white;
  }
  
  .filter-cancel:hover{
    background-color: #ffffff52;

  }
  /* Styles for filter options */
  .filter-label {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }
  
.filter-group {
    width: 100%;
    margin: 0;
    gap: 0.5rem;
  }

  .filter {
    color:rgba(255, 255, 255);
    cursor: pointer;
    border-radius: 0.45rem;
    font-size: 0.9rem;
  }
  
  .filter:hover {
    background-color: rgba(255, 255, 255);
    color:#000000;
    padding: 0.15rem 0.75rem;
  }
  

  
  /* Styles for the Apply Filters button */
  .apply-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.35rem;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .apply-button:hover {
    background-color: rgba(255, 255, 255, 0.7);

  }
  
.video-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.video-item{
    
}
.video-item:hover{
    transform: translate(20px);
}

.media-thumbnail{
    min-width: 12rem;
    min-height: 25rem;
    /* width: 100%; */
    /* height: 95%; */
}
.video-details{

}
