.settings{
    display: flex;
    color:black;
    gap: 1rem;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 0.75rem;
    box-shadow: 25px 25px 50px rgba(9,148,255,0.25), -10px -10px 30px rgba(9,148,255,0.1), inset -5px -5px 15px rgba(9,148,255,0.5);
}
.settings-left-nav{
    width: 20%;
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1;
    text-align: left;
}

.group-category{
    display: flex;
    text-wrap: nowrap;
    border-radius: 30px;
    padding: 0.25rem;
    margin: 0.5rem 0.01rem;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), /* Top shadow */ 0px -10px -2px rgba(0, 0, 0, 0.1), /* Bottom shadow */ 0px 10px 4px rgba(0, 0, 0, 0.1), /* Right shadow */ -2px 10px 4px rgba(0, 0, 0, 0.1);
}
.group-category:hover{
    background:#00000048;
}
.group-category-icon{
}

.group-category-icon i{
    color:black;
}

.group-category-icon i::before{
    padding-right:1rem;
}
.group-category-name{}
.settings-right-details{
    width: 80%;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 0.75rem;
    box-shadow: 25px 25px 50px rgba(9,148,255,0.25), -10px -10px 30px rgba(9,148,255,0.1), inset -5px -5px 15px rgba(9,148,255,0.5);
}
.group{
    display: flex;
    justify-content: space-between;
    height: 10rem;
    border-radius: 0.5rem;
    /* background-color: rgba(248,248,248,0.05); */
    /* backdrop-filter: blur(2px) saturate(50%); */
    box-shadow: 4px 4px 16px rgba(255,255,255,0.2) inset, -1px -1px 0 rgba(124, 124, 124, 0.2) inset, 0 0 1px 0.25px rgba(255,255,255,0.5) inset, 2px 2px 48px rgba(146, 146, 146, 0.5);
}
.group-label{
    padding-block: 1rem;
    font-weight: 600;
    color:#000000ce;
    font-size: 1.25rem;
}
.group-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom:1px solid rgba(213, 212, 212, 0.586);
}
.group-item-label{
    font-size: 1.2rem;
    color:#000000dc;
}
.group-item-value{}