:root{
  --neon-color1:;
}


* {
  box-sizing: border-box;
  margin: 0; margin-block: 0;margin-inline: 0;
  padding:0;padding-block: 0;padding-inline: 0;
}

body{
width: 100vw;
background:var(--bg-color1);
line-height: 1.6;
overflow-x: hidden;
padding-top: 3rem;
}



a {
  text-decoration: none;
}


input{
width: 100%;
padding: 0.5rem 1rem;
border-radius: 0.5rem;
outline: none;
}



img{
  border:none;
  outline: none;
  background:transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: fill;
}

 nav li, nav ul {
  list-style: none;
 }

[class*="flex"] { 
    display: flex; 
    align-items: center;
}
.flex-wr{ flex-wrap: wrap;}

.flex-cc { justify-content: center; align-items: center; }
.flex-l { justify-content: flex-start; } 
.flex-sb { justify-content: space-between; }
.flex-se { justify-content: space-evenly; } 
.flex-sa { justify-content: space-around; } 
/* .flex-s { justify-content: flex-start; }  */
.flex-l { justify-content: flex-start; } 

.flex-t { align-items: flex-start; }
.flex-b { align-items: flex-end; }

[class*="flex-col"] { 
    flex-direction: column;
    justify-items: center;
    align-items: normal; 
}

.block{
    display: block;
}


button{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-weight: 700;
  transition: all 256ms ease-in-out;
  text-decoration: none;
}

[class*="btn"]{
appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  font-size: 1rem;
  line-height: 100%;
  transition: all 1s ease;
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  transition:all 0.6s ease-in-out;
} 

.neon-btn {
    background-color: transparent;
    border: 2px solid var(--neon-color1);
    color: var(--text-color1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}

.neon-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px  var(--neon-color1), 0 0 20px var(--neon-color1), 0 0 30px  var(--neon-color1);
    transition: all 0.3s ease;
}

.neon-btn:hover {
    color:  var(--neon-color1);
    background-color: transparent;
}

.neon-btn:hover::before {
    border: 2px solid  var(--neon-color1);
}

.neon-txt {
  color:var(--neon-color1); /* Set the text color to aqua */
  text-shadow: 0 0 10px  var(--neon-color1), 0 0 20px  var(--neon-color1), 0 0 30px  var(--neon-color1); /* Create a neon glow effect */
}

.neon {
  border: 2px solid transparent; /* Set a transparent border */
  box-shadow: 0 0 10px  var(--neon-color1), 0 0 20px  var(--neon-color1), 0 0 30px  var(--neon-color1); /* Create a neon border effect */
}

 /* Define a CSS class for scrollbar styling */
.scrollable {
scrollbar-width: thin;
scrollbar-color:rgb(255, 255, 255);
}

.scrollable::-webkit-scrollbar {
width: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
background-color: rgb(255, 255, 255);
border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
background: transparent;
}

  .pop-out-btn {
    background-color: transparent;
    padding: 15px 30px;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
     0 0 0 5px #00ffff;
     background: linear-gradient(to bottom, #00ffff, #00aaff);
     color: #fff;
     padding: 15px 30px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
     transform: translate(0, 0);
     transition: transform 0.2s, box-shadow 0.2s;
  }

  .pop-out-btn:hover {
    transform: scale(1.05);
    transform: translate(0, 4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }



i{
  font-size: 2rem;
  color:var(--text-color1);

} 

.glass1 {
   /* border-radius: 25px; */
   background: rgba(0, 0, 0, 0.041);
   backdrop-filter: blur(30px);
   border: 2px solid rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}
 
.glass2 {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
}

.glass3{
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
    border: 2px solid rgba(255,255,255,0.1);
}
    
  
.glass4 {
    border: 1px solid #ffffff1c;
    background: #ffffff34;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem;
}
  
    

   .clay1 {
    border-radius: 30px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42);
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
  }
  .clay2 {
    border-radius: 30px;
    background: #ffffff;
    text-align: center;
    background: rgba(255,255,255, 0.4);
    backdrop-filter: blur(15px);
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42);
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
    box-shadow: 0 35px 68px 0 rgba(170,63,254,0.42), inset 0 -8px 16px 0 #D6A2FF;
  }

  
  .clay3 {
    border-radius: 50px;
    background-color: #f0f5f0;
    box-shadow: 
    -34px 34px 68px hsl(120deg 10% 50%), 
    inset 8px -8px 16px hsl(120deg 20% 50% / 70%), 
    inset 0px 14px 28px hsl(120deg 20% 95%);
}



.clay4 {
    margin: 0;
    background:#ffffff;
    text-align: center;
    border-radius: 9.375rem;
    box-shadow: 24px 24px 48px rgba(174, 210, 236, 0.4),
      inset 12px 12px 24px #e7f2f9, inset -24px -24px 48px #b8d8ee;
  }
  
  /* .clay5 {
    background:#ffffff;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 24px 24px 48px rgba(159, 211, 248, 0.4),
      inset 12px 12px 24px #dbe3e7,
       inset -24px -24px 48px #b8d8ee;
  } */
  
        
.clay6 {  
  background-color: #ffffff00;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0px 10px 15px 10px rgba(255, 255, 255, 0.375);
  }
  
  .clay7 {
    background-color: #ffffff;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0px 10px 15px 10px rgba(255, 255, 255, 0.646);
  }



 .btn1{ 
    
     padding: 10px;
     min-height: 55px;
     color: white;
     letter-spacing: .513333px;
     box-shadow: 0 11px 26px #a5ebf1;
     background: linear-gradient(0deg,#22d738,#a8f148);
     background: linear-gradient(0deg,#00ffff,#00a2ff);
     text-shadow: 0 2px 5px #3ccd1e;
     text-shadow: 0 2px 5px #3a6efd;

    }
    